* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #aaaaaa;
    background-color: rgb(48, 47, 47);
    transition: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 19, 19);
}

.Cores-Temas {
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: 700;
}

input[type="radio"] {
    cursor: pointer;
    transform: scale(2); 
    margin: 10px; 
    margin-right: 40px;
}

h2 {
    margin-top: 10px;
}

.main-box {
    display: flex;
    flex-direction: row;
}

.main-box iframe {
    margin-top: 40px;
    margin-left: 150px;
}

.text-box {
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 30px;
    width: 500px;
    background-color: rgb(22, 19, 19);
    border-radius: 5px;
}

.text-box h3 {
    font-weight: 700;
    margin-left: 10px;
}

.text-box p {
    margin-top: 10px;
    margin-left: 20px;
    width: 470px;
    font-weight: 500;
}

.text-box h4 {
    font-weight: 700;
    margin-top: 80px;
    margin-left: 10px;
}

a {
    margin-left: 10px;
    text-decoration: none;
}

a:hover {
    font-size: 22px;
    transition: 0.5s;
}

.Apps {
    display: flex;
}
.Apps img  {
     border-radius: 10px;
    height: 80px;
}

.apps-direcao {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
}

#CapCut {
    margin-top: 0;
    margin-left: 19px;
}

#Pinterest {
    margin-top: 0;
    margin-left: 15px;
}

#flipaclip {
    margin-top: 0;
    margin-left: 15px;
}
