* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #aaaaaa;
    background-color: rgb(48, 47, 47);
}

header {
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

header h2 {
     font-size: 24px;
}
.Caixa-Principal {
    display: flex;
}

.Caixa-Principal iframe {
    margin-top: 40px;
    margin-left: 200px;
    width: 700px;
    height: 700px;
    padding-left: 40px;
    padding-right: 40%;
}

p {
    margin-top: 70px;
    margin-left: 60px;
    width: 560px;
}
