* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
    background-color: rgb(48, 47, 47);
}

header {
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.Caixa-Principal {
    margin-top: 40px;
    margin-left: 200px;
    display: flex;
    position: absolute;
    width: 700px;
    height: 700px;
}

.Caixa-Principal iframe {
    padding-left: 40px;
    padding-right: 700px;
}

h2 {
    margin-left: 60px;
    width: 560px;
}
